// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #ff9900;
$orange: #ca431d;
$green: #32B796;
$gray: #000000;
$magenta: #8b104e;
$purple: #520556;
$light-gray: #F4F4F4;
